aiofiles==0.7.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
cachetools==4.2.4
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==7.1.2
colorama==0.4.4
cryptography==35.0.0
cycler==0.10.0
decorator==5.1.0
dnspython==2.1.0
EasyProcess==0.3
et-xmlfile==1.0.1
eventlet==0.32.0
Fabric3==1.14.post1
fastapi==0.68.1
fastapi-crudrouter==0.8.4
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Dance==3.2.0
Flask-Excel==0.0.7
Flask-Login==0.5.0
google-auth==2.2.1
google-auth-oauthlib==0.4.6
greenlet==1.1.1
gspread==4.0.1
gspread-pandas==2.3.0
gunicorn==20.0.4
httplib2==0.19.0
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
lml==0.1.0
MarkupSafe==1.1.1
matplotlib==3.4.3
nested-diff==0.8
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.1.1
openpyxl==3.0.6
pandas==1.3.3
paramiko==2.7.2
Pillow==8.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
PyMySQL==1.0.2
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyVirtualDisplay==2.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
scikit-learn==1.0
scipy==1.7.1
selenium==3.141.0
sentry-sdk==1.0.0
six==1.15.0
sklearn==0.0
slacker==0.14.0
soupsieve==2.2
SQLAlchemy==1.4.25
starlette==0.14.2
texttable==1.6.3
threadpoolctl==2.1.0
typing-extensions==3.10.0.2
urllib3==1.26.3
URLObject==2.4.3
Werkzeug==1.0.1
XlsxWriter==3.0.1
xmltodict==0.12.0
